@-moz-document url-prefix(http://) {
	button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
	padding: 0 !important;
	border: 0 none !important;
}}

@media screen {
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


	body{
		background:#fff url(/DVS/DVT/garnish/back.png) repeat-x;
		font-family: 'Open Sans', sans-serif;
		color:#666;
		font-size:0.8em;
	}

	select, input, textarea, button{
		font-family: 'Open Sans', sans-serif;
		font-size:1em;
		padding:0.2em 0.3em;
	}
	a{
		color:#1089D1;
		text-decoration:none;
	}
	a:hover{
		color:#4BB4F1;
	}

	#wrapper{
		max-width:980px;
		margin:0 auto;
	}

	#header{
		height:90px;
		position:relative;
		margin:0 0px 15px 0px;
		position:relative;
		overflow:hidden;
		background:url(/DVS/DVT/garnish/header.png) no-repeat right top;
	}

	h1{
		background: url(/DVS/DVT/garnish/logo.png) no-repeat left top;
		height: 61px;
		padding: 43px 0px 0px 42px;
		margin: 11px 0 0 15px;
		color: #008137;
		font-size: 1.2em;
	}

	#langSelect{
		position:absolute;
		top: 10px;
		right: 0;
	}

	#langSelect select{
		border:1px solid #ccc;
	}

	h2{
		font-size:1.2em;
		font-weight:700;
		color:#000;
		margin-bottom:15px;
	}

	h3{
		font-size:1em;
		font-weight:700;
		color:#000;
		margin-bottom:10px;
	}
	
	section{
		border:1px solid #ddd;
		padding:20px;
		margin:0 0 15px 0;
		background:#fff;
		overflow:hidden;
		position:relative;
	}

	#visualizationSection{
		padding:0px 20px 20px 20px;
	}
	
	.questionSection{
		margin-bottom: 0;
		
		border-bottom: 0;
	}
	.visualizationSelection{
		margin-bottom: 0;
		border-bottom: 0;
		padding-bottom: 0;
		border-top: 0;
		padding-top: 0;
	}
	.visualizationFilters{
		border-top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	section.done{
		background:url(/DVS/DVT/garnish/iconCheck.png) no-repeat 940px 8px;
		font-size:0.7em;
		padding:10px;
		margin:0 0 5px 0;
	}

 

	section.pending{
		font-size:0.7em;
		padding:10px;
		color:#CCC;
	}

	section header{
		padding: 20px 20px 20px 20px;
		margin: -20px -20px -20px -20px;
	}

	#visualizationTitle {
		padding: 40px 20px 0;
	}

	.freetext{
		line-height:1.3;
	}

	.freetext p{
		margin:1em 0;
	}

	.freetext ul{
		list-style:disc;
		margin:1em 0 1em 3em;
	}


	.freetext li{
		margin:0.2em 0;
	}
	
 
	label{
		font-size:0.9em;
	}

	#formatSelector label, .buttonMenu label{
		font-size:1.05em!important;
	}

	#label_topic{
		font-size:1em;
	}

	#label_question{
		font-size:1em;
	}
	
	#label_question select{
		font-weight:700;
		background:#F7F7F7;
		padding-left:0 !important;
		width:84%;
	}

	#answerInfo{
		overflow:hidden;
		margin:0px auto;
		padding:20px 0 0 0;
		width:70%;
	}
	
	.exportOptions a{
		font-size:1em!important;
	}

	#visualizationData{
		float: left;
		width: 100%;
		margin: 10px 0 0 0;
	}


	.t_Tooltip h4{
		font-weight:700;
	}
	.t_Tooltip hr{
		height: 1px;
		border-width: 1px 0 0 0;
		border-color: #999;
		border-style: dotted;
	}

}

